html
    head
    title Login Page

    body
        h1 Login page
        form(method='post')
            table
                tr
                td
                    label User name
                td
                    input(type='text' name='login')

                tr
                td
                    label Password
                td
                    input(type='password' name='password')

            input(type='submit' name='')